.form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.field {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    font-size: 14px;
  }

  &-input {
    border: 1px solid rgba(0, 0, 0, 0.176);
    border-radius: 4px;
    padding: 4px;

    &::placeholder {
      opacity: .5;
    }

    &.ng-invalid:not(.ng-pristine) {
      border: 1px solid red;

      &::placeholder {
        color: red;
      }

      &:hover, &:active, &:focus, &:focus-visible {
        outline: none;
        border-color: red;
      }
    }
  }

  &-error {
    border-color: red;

    label {
      color: red;
    }

    input {
      color: red;
    }
  }
}

.error-message {
  position: absolute;
  left: 0;
  bottom: -18px;
  font-size: 12px;
}

.submit-btn {
  width: 200px;
}
