@use '@angular/material' as mat;

@include mat.core();

$todo-app-primary: mat.define-palette(mat.$indigo-palette);
$todo-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$todo-app-warn: mat.define-palette(mat.$red-palette);
$todo-app-theme: mat.define-light-theme((
  color: (
    primary: $todo-app-primary,
    accent: $todo-app-accent,
    warn: $todo-app-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));
@include mat.all-component-themes($todo-app-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* custom styles */
.card {
  margin: auto;
  width: 800px;
  max-width: 100%;
}

.outline-0 {
  outline: none;
}

.pointer {
  cursor: pointer;
}

.pointer-events-none {
  pointer-events: none;
}

.disabled {
  pointer-events: none;
  opacity: .5;
}
